h1{
  color:#674e3f;
  font-size:3em;
  text-shadow: 1px 1px 5px #212121;
  text-align: center;
}
p.fancy{
  color: #50423a;
    font-family: oblique;
	font-size:1.2em;
	text-align: center;
}
body{
h1{
  color:#fff189;
  font-size:3em;
  text-shadow: 1px 1px 5px #212121;
  text-align: center;
  font-family: 'GreatVibesRegular';
  font-weight: normal;
  font-style: normal; 
}
p.fancy{
  color: #50423a;
   font-family: 'HKGroteskLight';
   font-weight: normal;
   font-style: normal; 
	font-size:1.2em;
	text-align: center;
}
body{
  background-color:#ffd5bc;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:#fff7bc;
  border: 1px solid #000;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li {
  text-align: center;
  border-bottom: 1px solid #000;
}

li:last-child {
  border-bottom: none;
}

li a.active {
  background-color: #fff189;
  color:black;
}

li a:hover:not(.active) {
  background-color: #fffad6;
  color: #ff7081;
}
